.cart-product {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cart-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cart-products-card-action-bar{
  display: flex;
  align-items: center;
  gap: 15px;

}

.RemoveProduct, .RemoveProduct1{
  border: none !important;
  background-color: transparent !important;
}
.Removeicon:hover{
color: red;
}

.RemoveIcon1:hover{
  color: red;
}
.RemoveProduct1{
  margin-top: 50px;
}