@import url(https://db.onlinewebfonts.com/c/0b5ecd0afcf95185925504cdca01f5e3?family=Druk+Wide+Cy+Web+Bold+Regular);
@import url(https://db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto);

.trend-block-content-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
    align-self: center;
    cursor: pointer;
  }
  
  .trend-block-content-btn > span {
    font-family: "Sofia Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
  }
  .mainWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 72px auto 0;
    
  }
  .comTitle{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    margin-top: 26px;
    text-transform: uppercase;
    color: black;
  }
  .comText{
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #666;
    line-height: 15px;
    margin-top: 10px;
  }
  