.liked-products {
  margin-top: 80px;
  gap: 20px;
  flex-wrap: wrap;
}
.liked-products-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}
.liked-products-card-title {
  font-family: "Sofia Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 50px;
}

.liked-products-card-price {
  font-family: "Sofia Sans", sans-serif;
  font-weight: bold;
  color: #000;
}

.liked-products-card-action-bar {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-bottom: 50px;
}

.liked-products-card-action-bar > button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.liked-products-card-add-btn:active {
  fill: #636262;
}
.RemoveBtn{
  border: none;
  background: none;
}

.bi-heartbreak-fill:hover{
  fill: #FF0000;
}
.MiniWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}